<div id="chatPage">
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Chats
            </h2><br>
            <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-large">
                     + Create group
                  </a>
          </div>

          <!-- Page title actions -->

        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row g-4">
          <div class="list-people col-md-3">

            <div class="form-label">
              {{! User }}
              {{! ------------------ }}

              {{#each users}}
              <div data-userId="{{this._id}}" style="margin:10px 0; cursor:pointer;" class="card people">
                <div class="chat-box-message-profile-box row g-0">
                  <div class="col-auto">
                    <div class="card-body">
                      <img class="chat-people-list-profile-img avatar avatar-md" src="{{this.profileImagePath}}"
                        alt="user-profile-img" /> 
                    </div>

                  </div>
                  <div class="col">
                    <div class="card-body ps-0">
                      <div class="row">
                        <h3 class="text-muted  position-relative">{{this.firstName}}
                          {{this.lastName}}<span id="messageNotificationNumber" style="display:none" class="badge mt-3 bg-red badge-notification badge-pill">6</span></h3> 
                          
                        
                        <div class="col">
                          <h4 class="text-muted">Joined :
                            {{moment this.createdOn}}</h4>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {{/each}}
              {{! ---------------------------- }}
            </div>

          </div>
          <div class="col-md-9 chatbox-change">

            <div id="chatBox" class="card" chatBoxOf="{{firstUser._id}}">
              <div class="chat-box-message-profile-box make-sticky row g-0">
                <div class="col-auto">
                  <div class="card-body">
                    <img class="chat-box-user-profile avatar avatar-md" src="{{firstUser.profileImagePath}}" alt="" />
                  </div>
                </div>
                <div class="col">
                  <div class="card-body ps-0">

                    <h3 class="">{{firstUser.firstName}}
                      {{firstUser.lastName}}</h3>

                  </div>
                </div>
              </div>

              <div data-receiver="{{firstUser._id}}" id="moreBtn">
                <p style="width:100%">More....</p>
                {{!-- <span class="time-right">{{moment this.createdOn}}</span> --}}
              </div>

              {{! ---------------- }}
              {{#each (revArray messages)}}

              {{#compare this._sender '==' ../user._id}}

              {{!-- <div class="box">
                <img src="{{this.senderDetails.profileImagePath}}" alt="Avatar" class="right" />
                <p>{{this.message}}</p>
                <span class="time-right">{{moment this.createdOn}}</span>
              </div> --}}
              <div class="box">
                <img src="{{this.senderDetails.profileImagePath}}" class=" messageProfile" />
                <p class='message' >{{this.message}} <span class="time-right">{{moment this.createdOn}}</span></p>
                
              </div>

              {{else}}

              <div class="box">
                <img src="{{this.senderDetails.profileImagePath}}" class=" messageProfile" />
                <p class='message'>{{this.message}} <span class="time-right">{{moment this.createdOn}}</span></p>
              </div>

              {{/compare}}


              {{/each}}


              {{! --------------------- }}

            </div>

          </div>
          <div style="margin:10px 0 0 0" class="row">
            <div class="col-3">

            </div>
            <div class="col-7 input-message">
              <div class="input-icon">
                <input style="height:50px; border-bottom:2px solid grey; border-right:2px solid grey " type="text"
                  id="chatboxMessage" class="form-control input-message input-message-1" placeholder="Message..."
                  aria-label="Search in website" />
              </div>

            </div>

            <div class="buttonTochange col-2">
              <div class="buttonTochange-1">
                <button data-receiver="{{firstUser._id}}" data-sender="{{user._id}}" id="sendMessageBtn"
                  style="height:50px;" class="btn w-100 btn-outline-secondary">
                  Send
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{{!-- ------------- create group modal ------- --}}
<div class="modal modal-blur fade" id="modal-large" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Group Name</label>
              <input type="text" id="groupNameInput" class="form-control" name="example-text-input" placeholder="Your group name...">
            </div>
            <div class="mb-3">
                            <div class="form-label">Checkboxes</div>
                            <div style="height:150px; overflow-y: auto;">
                              {{#each users}}
                              <label class="form-check">
                                <input class="form-check-input members" name="members" value="{{this._id}}" type="checkbox">
                                <span class="form-check-label">{{this.firstName}} {{this.lastName}}</span>
                              </label>
                              {{/each}}
                              
                            </div>
                          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="button" data-groupCreatedBy="{{user._id}}" id="createGroupBtn" class="btn btn-primary" > Create </button>
            {{!-- data-bs-dismiss="modal" --}}
          </div>



        </div>
      </div>
    </div>
{{!-- --------------- create modal group ends ------ --}}


<script>
  $(document).ready(function () {
    chatEvents();
  })
</script>