<br>


{{!-- ---------------------------------------users --}}
<h3 class="text-muted"> Report Page </h3>
<h4 class="text-muted">Data by Cron</h4>
<div  class="input-icon">
                    <span class="input-icon-addon">
                      <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                    </span>
                    <input type="text" id="searchUsersAtCronData" value="" class="form-control" placeholder="Search…" >
                  </div>
<div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="filteredUsers table table-vcenter card-table table-striped ">
                      <thead>
                        <tr>
                          <th>Total:</th>
                          <th>Users:{{total.users}}</th>
                          <th>SavedByOthers:{{total.savedByothers}}</th>
                          <th>createdPosts:{{total.createdPosts}}</th>
                          <th>savedPosts:{{total.savedPosts}}</th>
                        </tr>
                        <tr>
                          <th><input type="button" order="asc" class="cron-titles" id="fullname" value="Name"></th>
                          <th><input type="button" order="asc" class="cron-titles" id="email" value="Email"></th>
                          <th><input type="button" order="asc" class="cron-titles" id="savedByothers" value="SavedByOthers"></th>
                          <th><input type="button" order="asc" class="cron-titles" id="createdPosts" value="Posts created"></th>
                          <th><input type="button" order="asc" class="cron-titles" id="savedPosts" value="Posts saved"></th>
                        </tr>
                      </thead>
                      <tbody class="sortedUsers">

{{#each userReport}}
                        <tr class="loadData">
                          <td>{{this.user.firstName}} {{this.user.lastName}}</td>
                          <td>{{this.user.userEmail}}</td>
                          <td>{{this.savedByothers}}</td>
                          <td class="text-muted">
                            {{this.createdPosts}}
                          </td>
                          <td class="text-muted">
                            {{this.savedPosts}}
                          </td>
                          
                        </tr>
{{/each}}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <br>
<h4 class="text-muted"> Posts Data </h4>


{{!-- ----------------------------------------------------aggregate queru data  --}}
<div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Gender</th>
                          <th>Posts created</th>
                          <th>Posts saved</th>
                        </tr>
                      </thead>
                      <tbody>

{{#each users}}
                        <tr>
                          <td><img class="avatar me-2" src="{{this.profileImagePath}}" alt="">{{this.firstName}} {{this.lastName}}</td>
                          <td class="text-muted">
                            {{this.userEmail}}
                          </td>
                          <td>{{this.gender}}</td>
                          <td class="text-muted">
                            {{this.posts}}
                          </td>
                          <td class="text-muted">
                            {{this.savedPosts}}
                          </td>
                          
                        </tr>
{{/each}}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <br>
<h4 class="text-muted"> Posts Data </h4>

{{!-- -----------------------------------------------------posts --}}
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Posted By</th>
                          <th>Created On</th>
                          <th>Updated On</th>
                        </tr>
                      </thead>
                      <tbody>

{{#each posts}}
                        <tr>
                        <th><img class="avatar me-2" src="{{this.imagePath}}" alt=""></th>
                          <td>{{this.postTitle}}</td>
                          <td class="text-muted">
                            {{this.postDescription}}
                          </td>
                          <td class="text-muted"><img class="avatar me-2" src="{{this.user.profileImagePath}}" alt=""> {{this.user.firstName}} {{this.user.lastName}}</td>
                          <td class="text-muted">
                            {{this.createdOn}}
                          </td>
                          <td class="text-muted">
                            {{this.updatedOn}}
                          </td>
                          
                        </tr>
                        
{{/each}}         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
{{!-- -------------------------------------------saved by --}}
                            <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Title</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>


                        <tr>
                          <td>Maryjo Lebarree</td>
                          <td class="text-muted">
                            Civil Engineer, Product Management
                          </td>
                          <td class="text-muted"><a href="#" class="text-reset">mlebarree5@unc.edu</a></td>
                          <td class="text-muted">
                            User
                          </td>
                          
                        </tr>
                        
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<script >
  $(document).ready(function(){
  reportEvents()
  })
</script>