<div style="align-items: center;">
  <div id="renderHere" class="card-body">
    <h1>Saved Posts</h1>
    <div id="postsInside">

      {{#each savedPosts}}
      {{!-- -------------------------------------------------------------- --}}


      <div id="post" class="col-md-6 col-lg-3">
        <div style="border-radius: 15px; padding:8px;" class="card postBox">
          <!-- Photo -->
          <div class="img-responsive img-responsive-21x9 card-img-top  ">
            <h2 class="card-title">{{this.post.postBy.firstName}} {{this.post.postBy.lastName}}</h2>

            <img class="postImage" src="{{this.post.imagePath}}">

          </div>
          <h3 class="text-muted">{{this.post.postTitle}}</h3>
          <div class="card-body">
            <p class="text-muted">{{this.post.postDescription}}</p>
          </div>
          <div style="display: flexbox;">
                  {{#compare  this.post._user '==' ../user._id }}
            <button id="{{this._id}}" type="button"  class="btn btn-outline-danger callAjaxforModal  col-6 col-sm-4 col-md-5 col-xl py-3 " data-bs-toggle="modal" data-bs-target="#modal-scrollable">
                    Edit
            </button>
                  {{/compare}}

            {{!-- Scrollable --}}


            
            {{!-- Scrollable --}}
            {{!-- <button id="{{this._id}}" style="margin-left: 10px;" data="{{this.user._id}}"
              class="btn btn-outline-danger  col-6 col-sm-4 col-md-5 col-xl py-3 savePost" type="submit">Edit</button> --}}
            <button style="margin-left: 30px;" id="{{this.post._id}}" data="{{../user._id}}" class="btn btn-outline-success  col-6 col-sm-4 col-md-5 col-xl py-3 unsavePost " isSaved='false' type="submit">Unsave</button>
          </div>

        </div>
      </div>
      {{!-- -------------------------------------------------------------- --}}
      {{/each}}

    </div>
  </div>

</div>
                  {{!-- modal load here --}}
      <div class="modal modal-blur fade" id="modal-scrollable" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Post</t5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            {{!-- ----------form----- --}}
        
        </div>
      </div>
    </div>        

<script>
  $(document).ready(function () {
    userEvents()
    timelineEvents()
  })
</script>